:root {
  --nutmeg: hsl(14, 45%, 36%);
  --darkraspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rosewhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightgrey: hsl(30, 18%, 87%);
  --wengebrown: hsl(30, 10%, 34%);
  --darkcharcoal: hsl(24, 5%, 18%);
  --youngSerif: "Young Serif", serif;
  --outfit: "Outfit", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: inherit;
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1.5rem;
}

.main-container {
}

.container-aux {
  width: 85%;
  /* display: flex;
  flex-direction: column; */
  background-color: var(--white);
  /* border-radius: 1rem; */
  margin: auto;
}

img {
  border-radius: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 400px;
}

.title {
  color: var(--darkcharcoal);
  font-weight: 500;
  font-size: 2em;
  margin-top: 1rem;
  font-family: var(--youngSerif);
}

.title-desc {
  font-family: var(--outfit);
  color: var(--wengebrown);
}

.prep-time {
  padding: 1.5rem;
  font-family: var(--outfit);
  background-color: var(--rosewhite);
  border-radius: 1rem;
  font-family: var(--outfit);
}

.title-preptime {
  color: var(--darkraspberry);
  font-weight: 700;
  font-size: 1.2em;
}

.li-bold {
  font-weight: 700;
}

.prep-list {
  color: var(--wengebrown);
  padding-left: 1.5rem;
  gap: 1rem;
}

.prep-list li {
  text-indent: 1em;
}

.prep-list li::marker {
  color: var(--darkraspberry);
}

.subtitle {
  font-family: var(--youngSerif);
  font-weight: 500;
  font-size: 1.75em;
  color: var(--nutmeg);
}

.ul-ingredients {
  color: var(--wengebrown);
  text-indent: 1em;
  font-family: var(--outfit);
  padding-left: 1.5rem;
}

.ul-ingredients li::marker {
  color: var(--nutmeg);
}

ol {
  color: var(--wengebrown);
  font-family: var(--outfit);
  padding-left: 1.5rem;
  /* margin-left: 1.5em; */
}

ol li .ol-text {
  margin-left: 1em;
}

ol li::marker {
  color: var(--nutmeg);
  font-weight: 600;
}

ol li > span {
  font-weight: 600;
}

.nutrition-desc {
  font-family: var(--outfit);
  color: var(--wengebrown);
}

.nutrition-table {
  color: var(--wengebrown);
  font-weight: 500;
  font-family: var(--outfit);
}

.amount {
  color: var(--nutmeg);
  font-weight: 600;
}

.table-row {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--lightgrey);
}

.table-row:last-of-type {
  border-bottom: none;
}

.nutrition-table .table-row > * {
  width: 100%;
  margin: auto;
}

hr {
  height: 2px;
  width: 100%;
  border-style: solid;
  border-color: var(--lightgrey);
  margin: 5px auto;
}

@media (min-width: 1440px) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--eggshell);
  }

  img {
    border-radius: 1rem;
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .main-container {
    margin: 5rem 0 0 0;
    font-size: 1em;
    width: 750px;
  }
  .title {
    margin-top: 0;
  }

  .container-aux {
    width: 750px;
    font-size: 1em;
    padding: 2.5rem;
    border-end-start-radius: 1rem;
    border-end-end-radius: 1rem;
  }

  .grid-flow {
    gap: 1rem;
  }

  .container-img {
    padding: 2.5rem 2.5rem 0 2.5rem;
    background-color: var(--white);
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
    margin-bottom: 0;
    gap: 0;
  }
}
